* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}
.body1 {
	background-image: url('wo.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.body2 {
	background-image: url('wooo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.body3 {
	background-image: url('613171-Elysium_Hades_Header.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.body4 {
	background-image: url('sunrise_Hades_Game_landscape-1987809.jpg!d.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.body5 {
	background-image: url('Screenshot_1.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.red {
	background-color: red;
}
.blue{
	background-color: blue;
}
.black{
	background-color: gray;
}
.pink{
	background-color: darkorchid;
}
.yellow{
	background-color: yellow;
}
.orange{
	background-color: orange;
}
.green{
	background-color: green;
}
.width{
	width: 100%;
}
.heith{
	height: 890px;
}
.font50px{
	font-size: 50px;
}
.verticalcenter{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.textcenter{
	text-align: center;
}
input{	
	width: 50%;
	height: 50px;
	font-size: 150%;
	color: black;
}
.width40{
	width: 400px;
}
.heith40{
	height: 40px;
}
.width400{
	width: 100%;
}
.heith400{
	height: 150px;
}
.width50{
	width: 50%;
}
.heith50{
	height: 150px;
}
/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
	background-color: #b10000;
	color: white;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.displaynone{
	display: none;
}
.button{
	background-color: #f44336;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor:pointer;
	margin-left: auto;
    margin-right: auto;
}
.button2{
	background-color: #f44336;
	border: none;
	color: white;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 40px;
	cursor:pointer;
	margin-left: auto;
    margin-right: auto;
	border-radius: 25px;
}
.buttondiv{
	height: 10em;
	display: flex;
	align-items: center;
	justify-content: center
}
.corner{
		border-radius: 25px;
		padding: 20px;
}